.many-filters {
  .filters {
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
  }

  .buttons {
    display: flex;
    gap: 10px;

    button {
      padding: 8px;
      color: white;
      background-color: red;
      &.selected {
        background-color: green;
      }
    }
  }

  table {
    th,
    td {
      border: 1px solid black;
      padding: 8px;
    }

    th {
      background-color: blue;
      color: white;
    }
  }
}

